<footer class="footer">
  <div class="container footer-wrap">
    <div class="footer-nav-wrap">
      <div class="footer-img-wrap">
        <picture>
          <source
            srcset="./img/footer/mobile.png 1x, ./img/footer/mobile@2x.png 2x"
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./img/footer/tab-desk.png    1x,
              ./img/footer/tab-desk@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./img/footer/mobile.png" alt="Broccoli" />
        </picture>

        <a class="footer-logo" href="./index.html">
          <svg class="logo-icon" width="16px" height="16px">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <span class="footer-text-logo">veggieboost</span>
        </a>
      </div>

      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li>
            <a class="footer-nav-link" href="#How-It-Works">How It Works</a>
          </li>
          <li><a class="footer-nav-link" href="#Vegetables">Vegetables</a></li>
          <li><a class="footer-nav-link" href="#Contact">Contacts</a></li>
        </ul>
      </nav>
    </div>

    <div class="social-address-wrap">
      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="social-icon" width="40px" height="40px">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="social-icon" width="40px" height="40px">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
          >
            <svg class="social-icon" width="40px" height="40px">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    
      <address class="footer-contacts" id="Contact">
        <ul class="contacts-list">
          <li class="footer-contacts-item footer-tel">
            <a class="contacts-link" href="tel:+380(68)443-94-26"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link"
              href="https://goo.gl/maps/oiPTx2R9hLhPcvdYA"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >1678 S. Pioneer Road Salt Lake City <br />UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
