<footer class="footer-container">
  <div class="container">
    <img
      srcset="../img/footer/mobile.png 1x, ../img/footer/mobile@2x.png 2x"
      src="../img/footer/mobile.png"
      alt=""
      width="335"
      height="172"
    />
    <!-- <picture>
      <source
        srcset="../img/footer/mobile.png 1x, 
        ../img/footer/mobile@2x.png 2x"
        media="(max-width: 375px)"
      />
    </picture> -->

    <a class="logo" href="">
      <!-- <svg class="logo-icon">
        <use></use>
      </svg> -->
      <span class="text-logo">veggieboost</span>
    </a>

    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a href="">How It Works</a></li>
        <li class="nav-item"><a href="">Vegetables</a></li>
        <li class="nav-item"><a href="">Contacts</a></li>
      </ul>
    </nav>

    <div>
      <ul class="social-list">
        <li class="social-item">
          <a href="">
            <svg class="time-icon" width="40px" height="40px">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="">
            <svg class="time-icon" width="40px" height="40px">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a href="">
            <svg class="time-icon" width="40px" height="40px">
              <use class="time-icon" href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <adress class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item tel">
          <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
        </li>
        <li class="contacts-item">
          <a href="">1678 S. Pioneer Road Salt Lake City UT 84104</a>
        </li>
      </ul>
    </adress>
  </div>
</footer>
