<section class="section-hero">
<div class="hero container">
    <div class="hero-box">

      <div class="global-box">
  <ul class="hero-list">

    <li class="hero-pfoto">
       <a class="hero-link" href="">
        <picture>
          <source
            srcset="
              ./img/hero/Ellipse-2user-2-desctop.png    1x,
              ./img/hero/Ellipse-2user-2-desctop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="

            ./img/hero/Ellipse-2user-2-tablet.png    1x,
            ./img/hero/Ellipse-2user-2-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            ./img/hero/Ellipse-2user-2.png    1x,
            ./img/hero/Ellipse-2user-2-2x.png 2x"
            media="(max-width: 768px)"
          />

          <img class="img-hero"

          src="  ./img/hero/Ellipse-2user-2.png"
          alt="girl"
          width="40"
          height="40"
        />
      </picture>
       </a>
      
    </li>

    <li  class="hero-pfoto">  
      <a class="hero-link" href="">
      <picture>
      <source
        srcset="
        ./img/hero/Ellipse-3user-3-desctop.png    1x,
        ./img/hero/Ellipse-3user-3-desctop-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="

        ./img/hero/ellipse-3user-3-tablet.png    1x,
        ./img/hero/ellipse-3user-3-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="

        ./img/hero/Ellipse-3user-3.png    1x,
        ./img/hero/Ellipse3user-3-2x.png 2x
        "
        media="(max-width: 768px)"
      />

      <img class="img-hero"

      src=" ./img/hero/Ellipse-3user-3.png"
      alt="men"
      width="40"
      height="40"
    />
  </picture>
</a>

</li>

    <li  class="hero-pfoto"> 
     <a class="hero-link" href="">
      <picture>
      <source
        srcset="
        ./img/hero/Ellipse-4user-4-dektop.png    1x,
        ./img/hero/Ellipse-4user-4-dektop.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="

        ./img/hero/elipse-4elipse-4user-4-tablet.png    1x,
        ./img/hero/elipse-4elipse-4user-4-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="

        ./img/hero/Ellipse-4user-4.png    1x,
        ./img/hero/Ellipse-4user-4-2x.png 2x
        "
        media="(max-width: 768px)"
      />

      <img class="img-hero"

      src=" ./img/hero/Ellipse-4user-4.png "
      alt="girl"
      width="40"
      height="40"
    />
  </picture>
</a>
</li>

    <li  class="hero-pfoto">
     <a class="hero-link" href="">
<span class="reviews">2K</span>
<span class="reviews">reviews</span>
     </a>
    </li>
  </ul>


<h1 class="hero-text">organic <span class="vegetables">vegetables</span> to your diet today!</h1>
<p class="paragraf">Our expertly curated vegetable baskets are made with the freshest,
    highest quality vegetables available. Fresh Harvest Box has got you covered.
    Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
    <button class="hero-button-main">shop now</button>
  </div>
 <div class="global-div">
         <a class="image" href="">

          <picture>
            <source
              srcset="
                ./img/hero/imageIMG_9620-desktop.png   1x,
                ./img/hero/imageIMG_9620-desktop-2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
              ./img/hero/imageIMG_9620-tablet.png   1x,
                ./img/hero/imageIMG_9620-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./img/hero/imageIMG_9620.png   1x,
              ./img/hero/imageIMG_9620-2x.png 2x
            "
              media="(max-width: 768px)"
            />
      
            <img class="girl"
            src=" ./img/hero/imageIMG_9620.png"
            alt="girl"
            width="466"
            height="380"
          />
        </picture>
         </a>
       
    

    <div class="shop-now">
    <div class="hero-btn"> <button class="hero-button-tex">#organic</button>
          <button class="hero-button-tex">#products</button></div>
        <div class="hero-btn">  <button class="hero-button-tex">#basket</button>
          <button class="hero-button-tex">#vegetables</button></div>
        </div>
      </div>
  </div>
</section>