<section class="section-hero">
<div class="hero container">
    <div class="hero-box">
  <ul class="hero-list">
    <li>
       <a href="">
        <picture>
          <source
            srcset="
              ./img/hero/user-2.jpg    1x,
              ./img/hero/user-2-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
            ./img/hero/user-2.jpg    1x,
            ./img/hero/user-2-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            ./img/hero/user-2.jpg    1x,
            ./img/hero/user-2-2x.jpg 2x
            "
            media="(max-width: 768px)"
          />

          <img
          src=" ./img/hero/user-2.jpg "
          alt="App interface"
          width="40"
          height="40"
        />
      </picture>
       </a>
      
    </li>
    <li>  
      <a href="">
      <picture>
      <source
        srcset="
          ./img/hero/user-3.jpg    1x,
          ./img/hero/user-3-2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
        ./img/hero/user-3.jpg    1x,
        ./img/hero/user-3-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
        ./img/hero/user-3.jpg    1x,
        ./img/hero/user-3-2x.jpg 2x
        "
        media="(max-width: 768px)"
      />

      <img
      src=" ./img/hero/user-3.jpg "
      alt="App interface"
      width="40"
      height="40"
    />
  </picture>
</a>

</li>
    <li> 
     <a href="">
      <picture>
      <source
        srcset="
          ./img/hero/user-4.jpg    1x,
          ./img/hero/user-4-2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
        ./img/hero/user-4.jpg    1x,
        ./img/hero/user-4-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
        ./img/hero/user-4.jpg    1x,
        ./img/hero/user-4-2x.jpg 2x
        "
        media="(max-width: 768px)"
      />

      <img
      src=" ./img/hero/user-4.jpg "
      alt="App interface"
      width="40"
      height="40"
    />
  </picture>
</a>
</li>
    <li class="reviews">
     <a href="">
      <p
      >2k
    </p>
      <p>reviews</p>
     </a>
    </li>
  </ul>
</div>
<h1 class="hero-tex">organic vegetables to your diet today!</h1>
<p class="paragraf">Our expertly curated vegetable baskets are made with the freshest,
    highest quality vegetables available. Fresh Harvest Box has got you covered.
    Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
    <button class="hero-button"><samp class="shop-now">shop now</samp></button>
  
        
         <a href="">
          <picture>
            <source
              srcset="
                ./img/hero/imageIMG_9620.png   1x,
                ./img/hero/imageIMG_9620-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
              ./img/hero/imageIMG_9620.png   1x,
                ./img/hero/imageIMG_9620-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./img/hero/imageIMG_9620.png   1x,
              ./img/hero/imageIMG_9620-2x.png 2x
            "
              media="(max-width: 768px)"
            />
      
            <img
            src=" ./img/hero/imageIMG_9620.png
            ./img/hero/imageIMG_9620-2x.png"
            alt="App interface"
            width="278"
            height="228"
          />
        </picture>
         </a>
       
    
    <div class="shop-now"><button class="hero-button-tex"><samp class="products">#organic</samp></button>
          <button class="hero-button-tex"><samp class="products">#products</samp></button>
          <button class="hero-button-tex"><samp class="products">#basket</samp></button>
          <button class="hero-button-tex"><samp class="products">#vegetables</samp></button></div>
  </div>
</section>