<section class="vegetables-section section" id="vegetables">
<div class="vegetables-container container">
    <div class="vegetables-main">
        <h2 class="vegetables-title">
            ORGANIC VEGETABLES
        </h2>
        <p class="vegetables-text">
            Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. 
        </p>
    </div>
   <div>
    <ul class="vegetables-list list">
        <li class="vegetables-item">
            <a class="vegetables-link link" href="">
                <div class="vegetables-img-wrapper">
                    <h3 class="vegetables-page-subtitles">Carrot</h3>
                        <p class="vegetables-subtext">Plant</p>
                        <picture>
                            <!-- <source
                              srcset="
                                ./img/vegetables/carrot-desctop.png 1x,
                                ./img/vegetables/carrot-desctop@2x.png 2x
                              "
                              media="(min-width: 1280px)"
                            /> -->
                            <source
                              srcset="
                                ./img/vegetables/carrot.png 1x,
                                ./img/vegetables/carrot@2x.png 2x
                              "
                              media="(min-width: 768px)"
                            />
                            <source
                              srcset="
                                ./img/vegetables/carrot-mobile.png 1x,
                                ./img/vegetables/carrot-mobile@2x.png 2x
                              "
                              media="(max-width: 767px)"
                            />
                            <img
                              src="./img/vegetables/carrot-mobile.png"
                              alt="Carrot"
                              width="321"
                              height="261"
                            />
                          </picture>
                          <p class="vegetables-price">100 UAH / kg</p>
                        </div>
            </a>
        </li>
        <li class="vegetables-item">
          <a class="vegetables-link link" href="">
              <div class="vegetables-img-wrapper">
                  <h3 class="vegetables-page-subtitles">Brussel sprouts</h3>
                      <p class="vegetables-subtext">Plant</p>
                      <picture>
                        <source
                            srcset="
                              ./img/vegetables/brussel.png 1x,
                              ./img/vegetables/brussel@2x.png 2x
                            "
                            media="(min-width: 768px)"
                          />
                          <source
                            srcset="
                              ./img/vegetables/brussel-mobile.png 1x,
                              ./img/vegetables/brussel-mobile@2x.png 2x
                            "
                            media="(max-width: 767px)"
                          />
                          <img
                            src="./img/vegetables/brussel-mobile.png"
                            alt="Brussel sprouts"
                            width="321"
                            height="261"
                          />
                        </picture>
                        <p class="vegetables-price">80 UAH / kg</p>
                      </div>
          </a>
      </li>
      <li class="vegetables-item">
        <a class="vegetables-link link" href="">
            <div class="vegetables-img-wrapper">
                <h3 class="vegetables-page-subtitles">Tomato</h3>
                    <p class="vegetables-subtext">Plant</p>
                    <picture>
                      <source
                          srcset="
                            ./img/vegetables/tomato.png 1x,
                            ./img/vegetables/tomato@2x.png 2x
                          "
                          media="(min-width: 768px)"
                        />
                        <source
                          srcset="
                            ./img/vegetables/tomato-mobile.png 1x,
                            ./img/vegetables/tomato-mobile@2x.png 2x
                          "
                          media="(max-width: 767px)"
                        />
                        <img
                          src="./img/vegetables/tomato-mobile.png"
                          alt="Tomato"
                          width="321"
                          height="261"
                        />
                      </picture>
                      <p class="vegetables-price">40 UAH / kg</p>
                    </div>
        </a>
    </li>
    <li class="vegetables-item">
      <a class="vegetables-link link" href="">
          <div class="vegetables-img-wrapper">
              <h3 class="vegetables-page-subtitles">Eggplant</h3>
                  <p class="vegetables-subtext">Plant</p>
                  <picture>
                    <source
                        srcset="
                          ./img/vegetables/eggplant.png 1x,
                          ./img/vegetables/eggplant@2x.png 2x
                        "
                        media="(min-width: 768px)"
                      />
                      <source
                        srcset="
                          ./img/vegetables/eggplant-mobile.png 1x,
                          ./img/vegetables/eggplant-mobile@2x.png 2x
                        "
                        media="(max-width: 767px)"
                      />
                      <img
                        src="./img/vegetables/eggplant-mobile.png"
                        alt="Eggplant"
                        width="321"
                        height="261"
                      />
                    </picture>
                    <p class="vegetables-price">60 UAH / kg</p>
                  </div>
      </a>
  </li>
  <li class="vegetables-item">
    <a class="vegetables-link link" href="">
        <div class="vegetables-img-wrapper">
            <h3 class="vegetables-page-subtitles">Sweet potatoes</h3>
                <p class="vegetables-subtext">Plant</p>
                <picture>
                  <source
                      srcset="
                        ./img/vegetables/potatoes.png 1x,
                        ./img/vegetables/potatoes@2x.png 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./img/vegetables/potatoes-mobile.png 1x,
                        ./img/vegetables/potatoes-mobile@2x.png 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      src="./img/vegetables/potatoes-mobile.png"
                      alt="Sweet potatoes"
                      width="321"
                      height="261"
                    />
                  </picture>
                  <p class="vegetables-price">80 UAH / kg</p>
                </div>
    </a>
</li>
<li class="vegetables-item">
  <a class="vegetables-link link" href="">
      <div class="vegetables-img-wrapper">
          <h3 class="vegetables-page-subtitles">Leek</h3>
              <p class="vegetables-subtext">Plant</p>
              <picture>
                <source
                    srcset="
                      ./img/vegetables/leek.png 1x,
                      ./img/vegetables/leek@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/vegetables/leek-mobile.png 1x,
                      ./img/vegetables/leek-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/vegetables/leek-mobile.png"
                    alt="Leek"
                    width="321"
                    height="261"
                  />
                </picture>
                <p class="vegetables-price">50 UAH / kg</p>
              </div>
  </a>
</li>
<li class="vegetables-item">
  <a class="vegetables-link link" href="">
      <div class="vegetables-img-wrapper">
          <h3 class="vegetables-page-subtitles">Mushrooms</h3>
              <p class="vegetables-subtext">Plant</p>
              <picture>
                <source
                    srcset="
                      ./img/vegetables/mushrooms.png 1x,
                      ./img/vegetables/mushrooms@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/vegetables/mushrooms-mobile.png 1x,
                      ./img/vegetables/mushrooms-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/vegetables/mushrooms-mobile.png"
                    alt="Mushrooms"
                    width="321"
                    height="261"
                  />
                </picture>
                <p class="vegetables-price">40 UAH / kg</p>
              </div>
  </a>
</li>
<li class="vegetables-item">
  <a class="vegetables-link link" href="">
      <div class="vegetables-img-wrapper">
          <h3 class="vegetables-page-subtitles">Corn</h3>
              <p class="vegetables-subtext">Plant</p>
              <picture>
                <source
                    srcset="
                      ./img/vegetables/corn.png 1x,
                      ./img/vegetables/corn@2x.png 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/vegetables/corn-mobile.png 1x,
                      ./img/vegetables/corn-mobile@2x.png 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./img/vegetables/corn-mobile.png"
                    alt="Corn"
                    width="321"
                    height="261"
                  />
                </picture>
                <p class="vegetables-price">60 UAH / kg</p>
              </div>
  </a>
</li>
<li class="vegetables-item">
  <a class="vegetables-link link" href="">
      <div class="vegetables-img-wrapper">
          <h3 class="vegetables-page-subtitles">Radish</h3>
              <p class="vegetables-subtext">Plant</p>
              <picture>
                  <source
                    srcset="
                      ./img/vegetables/radish-desctop.png 1x,
                      ./img/vegetables/radish-desctop@2x.png 2x
                    "
                    media="(min-width: 1280px)"
                  />
                   <img
                    src="./img/vegetables/radish-desctop.png"
                    alt="Radish"
                    width="321"
                    height="261"
                  />
                </picture>
                <p class="vegetables-price">90 UAH / kg</p>
              </div>
            </a>
          </li>
        </ul>
        
          <button class="vegetable-btn">
                <span class="veg-btn-span">
                  <svg class="vegetables-btn-icon" width="14" height="14">
                    <use href="./img/icons.svg#icon-arrow-button"></use>
                  </svg>
                    <span class="vegetables-btn-text">ORDER</span>
                </span>
            </button>
      </div>      
    </div>
</section>