<section class="recall">
  <div class="container recall-container">
    <div class="recall-content">
      <h2 class="recal-title">Fresh Harvest Box has got you covered</h2>
      <p class="recall-item">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="recall-form">
        <label class="recall-label">
          <input
            class="recall-input"
            type="tel"
            name="phone"
            placeholder="+380()"
            pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            required
            title="+380 (97) 000-00-00"
          />
          <button class="btn-recall" type="submit">Recall</button></label
        >
      </form>
    </div>
    <div class="recall-img"></div>
  </div>
</section>
