
    .header {
        background-color: #fff;
    }

    .header-container {
      display: flex;
      position: relative;
      height: 50px;
      align-items: center;
      }

      .header-navigation {
        display: flex;
        align-items: center;
      }

      .header-list {
        display: none;}

        .logo_icon {
         fill: var(--green-color);
          background-color: transparent;
          margin-right: 8px;
         }

      .logo {
        display: flex;
        align-items: center;
       font-size: 14px;
       font-weight: 700;
       line-height: 1.3;
       text-transform: uppercase;
       color: #141414;
      }

      .header-text-logo{
        padding: 16px 0;
      }

      .mobile-menu-open-btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: pointer;
        top: 13px;
        right: 20px;
        border: none;
        background-color: transparent;
        fill: var(--green-color);
      }

      .mobile-menu-buy-btn{
        display: none;
      }

/*  ------- T A B L E T -------- */
@media screen and (min-width: 768px) {

   .header-container {
      max-width: 768px;
      padding: 0 32px;
     }
     
    .header-navigation {
      display: flex;
      align-items: center;
  }
  
  .header-list{
      display: flex;
      gap: 14px;
  }

   .nav-link{
    display: block;
    position: relative;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    transition: color var(--transition);
   }

   .nav-link:hover,
   .nav-link:focus {
     color: var(--green-color);
   }

  .logo {
    margin-left: 86px;
   }

  .mobile-menu-open-btn{
    display: none;
  }

  .mobile-menu-buy-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    top: 15px;
    right: 32px;
    border: none;
    background-color: transparent;
  }

  
  .mobile-menu-buy_icon{
   fill: transparent;
   stroke: var(--title-color);
  }
}

/* -------D E S K T O P---------- */
@media screen and (min-width: 1280px) {

  .header-container {
    max-width: 1280px;
  }

.header-list{
    display: flex;
    gap: 20px;
}

.logo {
  margin-left: 308px;
 }
}