.section-hero{
    padding: 48px 0 20px 20px 0 ;
    
}

.hero {
    width: 375px;
height: 812px;
flex-shrink: 0;
background-color: var(--green-color);
}

.hero-box {
    margin-bottom: 14px;
}

.hero-list {
    position: relative;
    display: flex;

}

.hero-pfoto{
 
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pfoto:not(:first-child){
  position: absolute; 
 
}

.hero-pfoto:nth-child(2){
    left: 28px;
  
}

.hero-pfoto:nth-child(3){
    left: 56px;
   
}

.hero-pfoto:nth-child(4){
    left: 84px;

}

.hero-link{
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:last-child{
    flex-direction: column;
}

.reviews{
    color: var(--title-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);  
}

.reviews:first-child{
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
margin-bottom: 2px;
align-items: center;
}

.reviews:last-child{
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: -0.32px;
    display: flex;
    justify-content: center;
 align-items: center;
 font-weight:400;
}

.hero-text{
    max-width: 335px;
    color: #FFF;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 40px;
font-weight: 500;
line-height: 1.1;
letter-spacing: -1.6px;
text-transform: uppercase;
margin-bottom: 14px;

}

.vegetables{
    font-style: italic;
    color: var(--lite-green-color);
}



.container{
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}



.hero{
    padding-top: 48px;
    padding-left: 20px;
}



.hero-text {
width: 335px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 40px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
line-height: 44px;
letter-spacing: -1.6px;
text-transform: uppercase;
margin-bottom: 14px;
} 

.paragraf {
    width: 335px;
    color: #FFF;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
}
.hero-button {
    width: 68px;
height: 68px;
flex-shrink: 0;
border-radius: 50%;
border: none;
background: #FAF3E7;
margin-bottom: 8px;
}
.shop-now {
    display: flex;
    flex-direction: column;
}
.hero-button-tex {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
transition: background var(--transition), color var(--transition);
    border-radius: 1000px;
border: 1px solid #FFF;

display: flex;
padding: 8px 14px;
align-items: flex-start;
gap: 10px;
background-color: transparent;
}

.hero-btn{
    display: flex;
    flex-direction: row;
gap: 4px;
justify-content: flex-end;
margin-bottom: 4px;
}

.hero-button-tex:hover,
.hero-button-tex:focus{
    color: #141414;
    background: #F9F7F4;
    border: none;
    
}

/* .hero-2k{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */



.image{
    display: flex;
    justify-content: center;
}

.hero-button-main{
border-radius: 50%;
background: #FAF3E7;

color: #FC8A11;
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.1;
letter-spacing: -0.56px;
text-transform: uppercase;
width: 68px;
height: 68px;
border: none;

display: flex;
transform: rotate(-14deg);
flex-direction: column;
justify-content: center;
flex-shrink: 0;
transition: background var(--transition), color var(--transition) ;
}

.hero-button-main:hover,
.hero-button-main:focus{
    background: #EAF7E5;
    color: #A1C487;
}



@media screen and (min-width 320px ){
max-width : 375px;
.hero {
    width: 375px;
height: 812px;
flex-shrink: 0;
background-color: #A1C487;
}
}
