.hiw-container {
  padding: 80px 20px;
  width: 100%;
}
.hiw-title {
  margin-bottom: 20px;
  color: var(--title-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}
.hiw-title-link {
  width: 100%;
  height: auto;
}
.hiw-text-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 80px;
}
.hiw-text {
  color: var(--title-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
}
.hiw-steps-container {
  width: 100%;
  height: 661px;
  padding: 40px 20px 0 20px;
  border-radius: 40px;
  background-color: var(--pink-background);
  position: relative;
  overflow: hidden;
}
.hiw-steps-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="46"><image width="5.02" height="5.02" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB3SURBVHgBXcotDoNAFATgN2/bIEgq6+vrEQgSPFdAcAMkjoRwCRLMHgSH4BR4/BrI7gMEP+FLRsxkQBs9VD83IyGBz2pp07CcoPvyK+I1dBAx4Dlna98x3QG+da+ACWLoQZwyrD5eJ4TxGjFmUdGdL93X/z1HXwGypicO4GCx4wAAAABJRU5ErkJggg==" /></svg>');
  opacity: 0.5;
  background-blend-mode: multiply;
  background-position: left 31px top 5.3px;
}
.hiw-steps-title {
  margin-bottom: 40px;
  color: var(--title-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}

.hiw-steps-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 275px;
  margin: 0 auto;
}
.hiw-steps-item-container {
  display: flex;
  gap: 14px;
  align-items: center;
}
.hiw-steps-item {
  color: var(--title-color);
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.56px;
}
.hiw-steps-text {
  width: 186px;
}

.hiw-steps-link {
  position: absolute;
  bottom: 0;
  left: 39px;
  right: 38px;
}
.circle {
  display: flex;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--green-color);
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.72px;
}

@media screen and (min-width: 375px) {
  .hiw-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hiw {
    padding: 100px 0 101px 0;
  }
  .hiw-container {
    max-width: 704px;
  }
  .hiw-title {
    width: 386px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    margin-bottom: 0;
  }
  .hiw-title-pic-container {
    display: flex;
    justify-content: space-between;
    height: 176px;
    margin-bottom: 40px;
  }
  .hiw-title-link {
    margin-right: 0;
    width: 310px;
  }
  .hiw-text-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
  .hiw-text {
    width: 280px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.72px;
  }
  .hiw-text:first-child {
    width: 317px;
  }
  .hiw-steps-container {
    padding: 80px 40px 80px 390px;
    height: 488px;
  }
  .hiw-steps-link {
    top: 40px;
    left: 0;
  }
  .hiw-steps-list {
    gap: 24px;
  }
  .hiw-steps-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
    margin-bottom: 40px;
  }
  .hiw-steps-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }
}
@media screen and (min-width: 1280px) {
  .hiw {
    padding: 124px 0;
  }
  .hiw-title {
    width: 614px;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -1.92px;
  }
  .hiw-title-link {
    width: 410px;
    height: 170px;
  }
  .hiw-text-container {
    gap: 40px;
    margin-bottom: 124px;
  }
  .hiw-text {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.72px;
  }
  .hiw-steps-container {
    padding: 80px 80px 80px 624px;
    height: 460px;
  }
  .hiw-steps-title {
    width: 512px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    text-transform: uppercase;
  }
  .hiw-steps-list{
    gap: 28px;
    width: 349px;
    margin: 0 ;
  }
  .hiw-steps-text {
    width: 289px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }
  .hiw-steps-item{
    
  }
  .hiw-steps-link{
    top: 40px;
    left: 80px;
  }
}
