@import url('./fonts.css');
@import url('./reset.css');
/* root */
@import url('./root.css');
/* header */
@import url('./header.css');
/* hero */
@import url('./hero.css');
/* how it works */
@import url('./how_it_works.css');
/* vegetables */
@import url('./vegetables.css');
/* we will call you */
@import url('./we-will-call-you.css');
/* footer */
@import url('./footer.css');
/* modal */
@import url('');
/* menu */
@import url('');
/* scroll btn */
@import url('./button-up.css');
