/* p:last-child{
    margin-bottom: 40px;
} */

.vegetables-section {
    padding: 80px 0;
}

.vegetables-container {

}

.vegetables-main {
}

.vegetables-title {
    margin: 0 auto;
    width: 245px;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 14px;
    
    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.96px;
    text-transform: uppercase;
}

.vegetables-text {
    display: flex;
    width: 335px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    

    color: #141414;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
}

.vegetables-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.vegetables-item {
    background-color: #EAF7E5;
    border-radius: 5%;
    padding: 40px 18px 20px 20px;
}

.vegetables-item:last-child {
display: none;
}

.vegetables-link {
    width: 100%;
}
.vegetables-img-wrapper {
}
.vegetables-page-subtitles {
    margin-bottom: 8px;
}
.vegetables-subtext {
    margin-bottom: 40px;
}
.vegetables-price {
}

.vegetable-btn{
    border-radius: 50%;
    background:#FC8A11;
    margin-top: 20px;
    margin: 0 auto;
    margin-top: 20px;
    
    color: #FAF3E7;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    width: 80px;
    height: 80px;
    border: none;
    
    display: flex;
    /* transform: rotate(-14deg); */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    transition: background var(--transition), color var(--transition) ;
    
    
    }

    .vegetables-btn-icon{
        fill: #fff;
    }

    .vegetables-btn-text{
        width: 57px;
        height: 24px;
        transform: rotate(-14deg);
        display: block;
        padding-bottom: 30px;

        font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;

    }

    
    .vegetable-btn:hover,
    .vegetable-btn:focus{
        background:#A1C487;
        color:  #EAF7E5;
    }

    
    @media screen and (min-width:768px){
        
        .container {
            max-width: 766px;
        }

        .vegetables-title{
            width: 624px;
            font-size: 28px;
            margin-bottom: 14px;
        }

        .vegetables-container {
            
        }

          .vegetables-section {
            padding-top: 100px;
            padding-bottom: 100px;
          }

          .vegetables-list {
            justify-content: start;
            flex-direction: row;
            gap: 20px;
            flex-wrap: wrap;
          }
    
          .vegetables-item {
            width: calc((100% - 20px) / 2);
          }

          .vegetables-text{
            width: 562px;
            margin: 0 auto;
            font-size: 18px;
            margin-bottom: 40px;

            
          }

          .vegetable-btn{
            margin-top: 40px;
            width: 114px;
            height: 114px;
            /* font-size: 18px; 
            line-height: 1.33;
            letter-spacing: -0.72px;
            text-transform: uppercase; */
          }

          .vagetable-btn-text{

          }



        }


        @media screen and ( min-width:1280px){
            
            .vegetables-container {
                max-width: 1280px;
            }
            
            .vegetables-section {
                  padding-top: 124px;
                  padding-bottom: 124px;
                }

                /* .vegetables-page-subtitles{
                    font-size: 32px;
                    line-height: 1.19;
                    letter-spacing: -1.28px;

                } */
                
                .vegetables-list {
                flex-direction: row;
                gap: 24px;
            }
              
              .vegetables-list {
                justify-content: start;
                flex-direction: row;
                gap: 20px;
                flex-wrap: wrap;
                margin-bottom: 72px;
            }
              
              .vegetables-item {
                width: calc((100% - 48px) / 3);
              }

              .vegetables-item:last-child {
                display: block;
                }


            }